* {
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1;
    color: #333;
}

.hidden {
    display: none!important;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
    background-color: #f5f5f5;
}

.info-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.header {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    height: 250px;
    width: 100%;
    background-image: url(images/bg.jpg);
    background-size: cover;
}

.header-sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 16px;
    width: 30%;
    height: 100%;
    color: #fff;
    background-color: #333333a3;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.header-sidebar h1 {
    margin: 0;
    font-size: 60px;
    font-weight: 300;
}

.data {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.data i {
    margin-right: 8px;
}

.todo-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 840px;
    height: calc(100% - 300px);
}

.todo-list {
    flex: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
}

.todo-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #df1a38;
    cursor: pointer;
}

.todo-list span {
    display: block;
    padding: 16px 0;
    width: 100%;
    height: 100%;
}

.todo-list span.checked {
    text-decoration: line-through;
    color: #ccc;
}

.add-button {
    font-size: 40px;
    color: #df1a38;
}

.add-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font: inherit;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.clear-button {
    color: #df1a38;
}

.clear-button i {
    margin-right: 5px;
}

.delete {
    color: #df1a38;
}